@model IEnumerable<BAW.Models.BidRequest>

@{
    ViewBag.Title = "Myyntihistoria";
    Layout = "~/Views/Shared/_BuyerSellerLayout.cshtml";
}


<!--************************************
             Dashboard Banner Start
     *************************************-->
<!--************************************
        Dashboard Banner End
*************************************-->
<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-dashboardbox" style="margin-top:2%">
                    <div class="tg-dashboardboxtitle">
                        <h2>Bidder's Offers Accepted</h2>

                    </div>




                    <div class="tg-dashboardholder">

                        <table id="tg-adstype" class="table tg-dashboardtable tg-tablemyads">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Price</th>

                                    <th>Name</th>
                                     <th>Email</th>
                                    <th>Mobile</th>
                                </tr>
                            </thead>
                            <tbody id="firstbid">



                                @foreach (var item in Model)
                                {

                                    <tr data-category="active">
             


                                        <td data-title="Kuva"><img src="@Url.Content(item.Product.MainImageUrl)" alt="Product pic" style="height:80px;width:120px;"></td>

                                        <td data-title="Otsikko">
                                            <h3><a href="@Url.Action("ProductDetails","Store",new {id = item.ProductId })"> @item.Product.ProductName </a></h3>
                                        </td>

                                        <td data-title="Hinta">
                                            @if (item.SecondPrice > item.FirstPrice)
                                            {
                                                <h3>@item.SecondPrice</h3>

                                            }
                                            else
                                            {
                                                <h3>@item.FirstPrice</h3>

                                            }
                                        </td>

                                         <td data-title="Nimi">
                                            <h3>@item.User.FirstName</h3>
                                        </td>
                                        <td data-title="Sähköposti">
                                            <h3>
                                                @item.User.Email
                                            </h3>
                                        </td>
                                        <td data-title="Puhelinnumero ">
                                        <h3>@item.User.Mobile</h3> 
                                        </td>

                       


                                    </tr>
                                }


                            </tbody>



                        </table>





                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--************************************
            Section End
    *************************************-->

    
</main>
<!--************************************
        Main End
*************************************-->


