@model Sokuuhotu.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_BAWLayout.cshtml";
}

<h2>Register for Payment</h2>
<div>
    @using (Html.BeginForm("Payment", "Payment", FormMethod.Post))
    {
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.Mobile)
            </div>
            <div class="editor-label">
                @Html.EditorFor(model => model.Mobile)
            </div>
        </div>
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-label">
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.Amount)
            </div>
            <div class="editor-label">
                @Html.EditorFor(model => model.Amount)
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    }
</div>

